body{
    display: grid;
    background-image: url(./1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-items: center;
}

#container{
    width: 50%;
    height: 550px;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
    background-image: url(./fundo4.jpg);
    background-size: cover;
    background-position: center;
}

h1, h2{
  margin: 0;
}

.n1{
  background-color: rgba(38, 12, 12, 0.6); 
  border-radius: 10px 10px 0 0;
  color: WHITE;       
}

.n2{
  background-color: rgba(38, 12, 12, 0.6); 
}

.n3{
  background-color: rgba(38, 12, 12, 0.6); 
  border-radius: 0 0 10px 10px;
}

@media only screen and (max-width: 1200px){
  body{
    background-image: url(./calendario2.jpg);
  }

  #container{
    width: 90%;
    height: 700px;
  }
}

@media only screen and (max-width: 990px){
  body{
    background-image: url(./Calendário3.png);
  }

  #container{
    width: 90%;
    height: 700px;
  }
}